<nav class="container-xl px-3 px-sm-6 mx-auto clearfix">
  <div class="py-5">
    <ul class="list-style-none d-flex flex-justify-between">
      <li>
        <a href="{{site.baseurl}}/" class="no-underline d-flex flex-items-center link-gray-dark">
          {% octicon mark-github height:32 aria-label:github-invertocat %}
          <span class="ml-2">India Externship</span>
        </a>
      </li>

      <li class="text-right">
        <a href="https://github.com/" class="no-underline header-goToGithub d-flex flex-items-center link-gray-dark" style="height: 32px;">
          <svg width="10" class="mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.08 10.85"><defs><style>.cls-1{fill:none;stroke:currentColor;stroke-linecap:round;stroke-width:1.5px}</style></defs><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"><path class="cls-1" d="M10.33 9.23V.75h-8.6m-1 9.35L9.84 1" id="Layer_1-2" data-name="Layer 1"/></g></svg>
          <span>Go to GitHub.com</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
