

      


<div class="container-lg pt-md-6 pb-md-7">
<div class="text-left width-full pt-5 pb-3 col-md-14">
  <a id="top" name="top"></a>
  <h1 id="yearbook" class="h1-mktg mb-5 ml-3">Yearbook</h1>
  <h1 id="class-of-2020" class="f0-light text-gray-dark text-mono mt-4 mb-1 ml-3">Class of 2021</h1>
  <div class="clearfix">
    <h3 id="graduates" class="h3-mktg text-gray-dark mt-4 mb-4 ml-3 float-left pt-3">6794 graduates</h3>

    <!--// START "Sort by select menu" //-->
    <div id="search-sort" class="position-relative float-right mt-6 mb-4 mr-3 text-right">
      <form class="d-inline-block pr-4" action="/graduation/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
        <div class="position-relative d-inline">
          <input id="search" name="search" type="search" class="form-control pl-5" value="" placeholder="GitHub handle" style="width:260px">
          <svg class="octicon octicon-search text-gray-light position-absolute" fill="#6a737d" style="left:8px;top:2px;" viewBox="0 0 16 16" width="16" height="16" version="1.1" aria-hidden="true"><path   d="M15.7 14.3L11.89 10.47c0.7-0.98 1.11-2.17 1.11-3.47 0-3.31-2.69-6-6-6S1 3.69 1 7s2.69 6 6 6c1.3 0 2.48-0.41 3.47-1.11l3.83 3.81c0.19 0.2 0.45 0.3 0.7 0.3s0.52-0.09 0.7-0.3c0.39-0.39 0.39-1.02 0-1.41zM7 11.7c-2.59 0-4.7-2.11-4.7-4.7s2.11-4.7 4.7-4.7 4.7 2.11 4.7 4.7-2.11 4.7-4.7 4.7z"></path></svg>
        </div>
</form>          <details class="position-relative details-reset details-overlay select-menu d-inline-block">
        <summary class="btn-link select-menu-button text-gray-light h5-mktg" aria-haspopup="menu">
          <span class="text-gray-dark">Sort by:</span>
          Random
        </summary>
        <details-menu class="select-menu-modal position-absolute right-0" role="menu" style="z-index:99;width:180px">
          <div class="select-menu-list js-navigation-container">
            <a class="select-menu-item js-navigation-item selected" href="?sort=">
              <svg class="octicon octicon-check select-menu-item-icon" viewBox="0 0 12 16" width="12" height="16" version="1.1" aria-hidden="true"><path   d="M12 5L4 13 0 9l1.5-1.5 2.5 2.5 6.5-6.5 1.5 1.5z"></path></svg>
              <span class="select-menu-item-text js-select-button-text text-bold">Random</span>
</a>                <a class="select-menu-item js-navigation-item " href="?sort=az">
              <svg class="octicon octicon-check select-menu-item-icon" viewBox="0 0 12 16" width="12" height="16" version="1.1" aria-hidden="true"><path   d="M12 5L4 13 0 9l1.5-1.5 2.5 2.5 6.5-6.5 1.5 1.5z"></path></svg>
              <span class="select-menu-item-text js-select-button-text text-bold">GitHub handle A-Z</span>
</a>                <a class="select-menu-item js-navigation-item " href="?sort=za">
              <svg class="octicon octicon-check select-menu-item-icon" viewBox="0 0 12 16" width="12" height="16" version="1.1" aria-hidden="true"><path   d="M12 5L4 13 0 9l1.5-1.5 2.5 2.5 6.5-6.5 1.5 1.5z"></path></svg>
              <span class="select-menu-item-text js-select-button-text text-bold">GitHub handle Z-A</span>
</a>              </div>
        </details-menu>
      </details>
      <!--// END "State select menu" //-->
    </div>
  </div>

  <div id="back-to-top" class="hidden">
    <a href="#top" class="btn-mktg bg-gray-dark"><span class="pr-2 sm">Back to top </span><span class="d-inline-block v-align-middle"><svg class="octicon octicon-chevron-up" fill="#000000" viewBox="0 0 10 16" width="12" height="20" version="1.1" aria-hidden="true"><path   d="M10 9l-1.5 1.5-3.5-3.75L1.5 10.5 0 9l5-5 5 5z"></path></svg></span></a>
  </div>



  <div class="d-flex flex-justify-around flex-wrap">
 
      <div class="hover-grow height-full border rounded-1 box-shadow-medium bg-white mb-4 m-1 position-relative">
         <a  class="position-absolute"></a>
         
        <a class="no-underline text-gray-dark" href="https://github.com/Mohak89" target="_blank" rel="nofollow noopener">
          <div class="p-3 d-flex flex-column student">
            <img data-src="https://github.com/Mohak89.png" class="width-fit lazy" alt="@Mohak89" width="272" height="272">
            <h4 class="h4-mktg text-mono pt-3 pb-2">
              <svg class="octicon octicon-mark-github" fill="#000000" viewBox="0 0 16 16" width="20" height="20" version="1.1" aria-hidden="true"><path   d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59 0.4 0.07 0.55-0.17 0.55-0.38 0-0.19-0.01-0.82-0.01-1.49-2.01 0.37-2.53-0.49-2.69-0.94-0.09-0.23-0.48-0.94-0.82-1.13-0.28-0.15-0.68-0.52-0.01-0.53 0.63-0.01 1.08 0.58 1.23 0.82 0.72 1.21 1.87 0.87 2.33 0.66 0.07-0.52 0.28-0.87 0.51-1.07-1.78-0.2-3.64-0.89-3.64-3.95 0-0.87 0.31-1.59 0.82-2.15-0.08-0.2-0.36-1.02 0.08-2.12 0 0 0.67-0.21 2.2 0.82 0.64-0.18 1.32-0.27 2-0.27 0.68 0 1.36 0.09 2 0.27 1.53-1.04 2.2-0.82 2.2-0.82 0.44 1.1 0.16 1.92 0.08 2.12 0.51 0.56 0.82 1.27 0.82 2.15 0 3.07-1.87 3.75-3.65 3.95 0.29 0.25 0.54 0.73 0.54 1.48 0 1.07-0.01 1.93-0.01 2.2 0 0.21 0.15 0.46 0.55 0.38C13.71 14.53 16 11.53 16 8 16 3.58 12.42 0 8 0z"></path></svg> <span class="text-gray-dark text-mono">Mohak89</span>
            </h4>
            <div class="flex-auto">
              <h4 class="h4-mktg"><%= @students.Name%></h4>
              <p class="f4" style="height:48px;"><%= @students.college_name%></p>
            </div>
            <div class="bg-blue-light p-3 rounded-1 width-full quote">
              <p class="f5 css-truncate" style="text-overflow: ellipsis; overflow-wrap: anywhere; overflow: hidden; height: 60px;">
              <%= @students.description%>
              </p>
            </div>
          </div>
        </a>
      </div>

    </div>  